<div class="header">
    <i class="bi bi-list menu-icon" (click)="onMenuClick()"></i>
    <i class="bi bi-person profile-icon" (click)="onProfileClick()"></i>
</div>
  
<div class="title-container">
  <h2 class="page-title">Text Scanner</h2>
</div>
  
<div class="camera-container">
    <webcam [trigger]="trigger" (imageCapture)="handleImage($event)"></webcam>
</div>

<div class="button-group mt-3">
    <button class="circle-button capture-button" (click)="captureImage($event)">
        <i class="bi bi-camera"></i>
      </button>

  <div class="side-buttons">
    <input type="file" (change)="selectFromGallery($event)" accept="image/*" class="hidden-input" id="gallery-input" />
    <label for="gallery-input" class="circle-button side-button">
        <i class="bi bi-image"></i> 
    </label>
    
    <input type="file" (change)="uploadFile($event)" class="hidden-input" id="file-input" />
    <label for="file-input" class="circle-button side-button">
        <i class="bi bi-upload"></i>
    </label>
  </div>
</div>

<!-- Preview of the captured image -->
<div *ngIf="capturedImage" class="image-preview">
  <img [src]="capturedImage.imageAsDataUrl" alt="Captured Image" style="width: 100%; border-radius: 8px;" />
</div>

